{% extends 'base.html'%} {% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1" text-center>Django app</h1>

    <p>
      Bienvenido a tu organizador de tareas. Esta aplicación te permite crear,
      editar, completar y eliminar tus pendientes de forma rápida y sencilla.
      Ideal para mantenerte enfocado y llevar un mejor control de tus
      actividades diarias.
    </p>

    <div class="text-center">
      <a class="btn btn-primary" href="/signin/"> Signin </a>
      <a class="btn btn-primary" href="/signup/"> Sign up </a>
    </div>
  </section>
</main>

{% endblock %}
